.search-bar{
  background: white !important;
  padding: 0 15px !important;
  border-radius: 50px !important;
}

.sb-global{
  position: absolute !important;
  right: 20px !important;
  left: auto !important;
  top: 8px !important;
}

.sb-directory{
  height: 50px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}

.appbar{
  z-index: 101!important;
  background: linear-gradient(to right, navy 40%, red 60%)	!important;
  opacity: .8;
}

.animated{
  color: red !important;
  font-size: 50px !important;
  background: red !important;
}
