#card {
	border-radius: 5px;
	padding: 30px 0px;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 5px 0 lightgray;
	text-align: center;
}

#selfie {
	width: 100%;
	height: auto;
	border: 0px solid blue;
	object-fit: contain;
}

.image-cropper {

    height: 400px;
    overflow: hidden;
	margin-bottom: 10px;
}

#details {
	min-width: 100% !important;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#bio{
	color: gray;
	text-align: justify;
	font-style: italic;
	padding: 0 20px;
}
