.custom-switch .custom-control-label::after {
  background-color: #8c96a5;
}

.custom-switch .custom-control-input:checked~.custom-control-label::before {
  border-color: #8c96a5;
  background-color: #8c96a5;
}

.custom-switch .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #e9ecef;
  border-color: #e9ecef;
  background-color: #e9ecef;
}